.container {
  background-color: #23292c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-top: 0;
  font-size: 30px;
  color: #e4e8ea;
  margin-bottom: 20px;
  font-weight: 400;
}

.input {
  border: 2px solid #4f575b;
  background-color: transparent;
  min-width: 100%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: Inter;

  &:focus {
    border: 2px solid #e4e8ea;
    outline: 0;
  }

  &::placeholder {
    font-size: 20px;
  }
}

.button {
  cursor: pointer;

  height: 40px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #15c874;
  border: 2px solid #15c874;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Inter;

  &:hover {
    background-color: #15c874;
    color: #111;
  }
}
