.container {
  background-color: #23292c;
  width: 358px;
  max-width: 100vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-top: 0;
  font-size: 30px;
  color: #e4e8ea;
  margin-bottom: 20px;
  font-weight: 400;
}

.input {
  font-family: Inter, sans-serif;
  border: 2px solid #4f575b;
  background-color: transparent;
  min-width: 100%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: Inter;

  &:focus {
    border: 2px solid #e4e8ea;
    outline: 0;
  }

  &::placeholder {
    font-size: 20px;
  }
}

.button {
  font-family: Inter, sans-serif;
  cursor: pointer;

  height: 56px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;

  background: #15C874;
  border-radius: 8px;
  border: 0px;

  color: #000000;
  

  transition: font-size 295ms ease, background-color 295ms ease;

  &:hover {
    background-color: #51FFA1;
    color: #111;
    font-size: 21px;
  }
}

.disabled {
    background-color: #2D3336;
    color: #535E64;

  cursor: not-allowed;

    &:hover {
      background-color: #2D3336;
      color: #535E64;
      font-size: 20px;
    }
}
