.button {
  font-family: Inter, sans-serif;
  cursor: pointer;

  height: 56px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;

  background: #15c874;
  border-radius: 8px;
  border: 0px;

  color: #000000;

  transition: font-size 295ms ease, background-color 295ms ease;

  &:hover {
    background-color: #51ffa1;
    color: #111;
    font-size: 21px;
  }
}

.buttonMargin {
  margin-top: 20px;
}

.disabled {
  background-color: #2d3336;
  color: #535e64;

  cursor: not-allowed;

  &:hover {
    background-color: #2d3336;
    color: #535e64;
    font-size: 20px;
  }
}

.secondary {
  height: 40px;

  background-color: transparent;
  border: 2px solid #2ec4e6;
  border-radius: 8px;

  color: #2ec4e5;

  font-size: 16px;

  &:hover {
    border-color: #81e8ff;
    color: #81e8ff;
    font-size: 16px;
    background-color: transparent;
  }
}

.normalSize {
  padding: 0 16px;
}

.large {
  min-width: 310px;
}

.red {
  border-color: var(--color-red);
  color: var(--color-red);

  &:hover {
    border-color: var(--color-red-hover);
    color: var(--color-red-hover);
  }
}
