.button {
  font-family: Inter, sans-serif;
  cursor: pointer;

  height: 56px;
  min-width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;

  background: var(--color-green);
  border-radius: 8px;
  border: 0px;

  color: var(--color-black);

  transition: font-size 295ms ease, background-color 295ms ease;

  &:hover {
    background-color: var(--color-green-hover);
    color: var(--color-gray-900);
    font-size: 21px;
  }
}

.buttonMargin {
  margin-top: 20px;
}

.disabled {
  background-color: var(--color-disabled);
  color: var(--color-gray-600);

  cursor: not-allowed;

  &:hover {
    background-color: var(--color-disabled);
    color: var(--color-gray-600);
    font-size: 20px;
  }
}

.secondary {
  height: 40px;

  background-color: transparent;
  border: 2px solid var(--color-blue);
  border-radius: 8px;

  color: var(--color-blue);

  font-size: 16px;

  &:hover {
    border-color: var(--color-blue-hover);
    color: var(--color-blue-hover);
    font-size: 16px;
    background-color: transparent;
  }
}

.normalSize {
  padding: 0 16px;
}

.large {
  min-width: 310px;
}

.red {
  border-color: var(--color-red);
  color: var(--color-red);

  &:hover {
    border-color: var(--color-red-hover);
    color: var(--color-red-hover);
  }
}
