.button {
    font-family: Inter, sans-serif;
    cursor: pointer;
  
    height: 56px;
    min-width: 100%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
  
    background: #15C874;
    border-radius: 8px;
    border: 0px;
  
    color: #000000;
    
    transition: font-size 295ms ease, background-color 295ms ease;
  
    &:hover {
      background-color: #51FFA1;
      color: #111;
      font-size: 21px;
    }
  }
  
  .disabled {
      background-color: #2D3336;
      color: #535E64;
  
    cursor: not-allowed;
  
      &:hover {
        background-color: #2D3336;
        color: #535E64;
        font-size: 20px;
      }
  }