.container {
  position: fixed;
  top: 22px;
  left: 50%;
  z-index: 100;

  max-width: 400px;

  display: flex;
  align-items: center;

  border-radius: 10px;
  color: var(--color-gray-900);
  background: var(--color-gray-100);
  padding: 10px;

  opacity: 0;

  transition: transform 295ms ease, opacity 295ms ease;
}

.error {
  background: var(--color-red);

  &:hover {
    background: var(--color-red-hover);
  }
}

.button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-left: 6px;
  margin-top: 2px;
}

.text {
  font-size: 16px;
  text-align: center;
  padding: 0px 10px;
}

.active {
  transform: translate(-50%, 0);
  opacity: 1;
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -30px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
