.container {
  background-color: #23292c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 500px;
  min-height: 300px;
}

.title {
  width: 100%;
  text-align: center;
}

.content {
  color: #E4E8EA;
  min-width: 220px;
  margin-top: 30px;

  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.result {
  display: flex;
  align-items: center;
  color: #E4E8EA;
  margin-top: auto;

  span {
    margin-bottom: 2px;
  }
}

.icon {
  font-size: 20px;
  margin-right: 12px;
}

.green {
  color: #15C874;
}

.yellow {
  color: #FBB751;
}

.red {
  color: #F04943;
}