.container {
  background-color: #23292c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 500px;
  min-height: 300px;
}

.title {
  width: 100%;
  text-align: center;
}

.content {
  color: #e4e8ea;
  min-width: 220px;
  margin-top: 30px;
}

.result {
  display: flex;
  align-items: center;
  color: #e4e8ea;
  margin-top: auto;

  span {
    margin-bottom: 2px;
  }
}

.icon {
  font-size: 20px;
  margin-right: 12px;
}

.green {
  color: #15c874;
}

.yellow {
  color: #fbb751;
}

.red {
  color: #f04943;
}
