.container {
  min-width: 500px;
  min-height: 300px;
}

.title {
  width: 100%;
  text-align: center;
}

.content {
  color: var(--color-gray-100);
  min-width: 220px;
  margin-top: auto;
  margin-bottom: auto;
}

.result {
  margin-top: auto;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;

  img {
    width: 240px;
    pointer-events: none;
  }
}

.emptyText {
  color: var(--color-gray-100);
  margin: 5px 0 0;

  &:first-of-type {
    margin-top: auto;
  }
  &:last-of-type {
    margin-bottom: 10px;
  }
}

.neon {
  filter: drop-shadow(0 0 10px var(--color-green));
}
