.container {
  background-color: #23292C;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 500px;
  min-height: 300px;
}