.options {
  display: flex;
  gap: 20px;
}

.option {
  display: inline-flex;
}

.input {
  display: none;

  &:checked ~ .text {
    background: var(--color-green);
    border: unset;
    color: var(--color-gray-900);
  }
}

.text {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--color-gray-100);
  color: var(--color-gray-100);

  &:hover {
    background: var(--color-white);
    border: unset;
    color: var(--color-gray-900);
  }
}
