.title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  width: 500px;
  text-align: center;
}

.description {
  color: #fff;
  margin-top: 0;
  font-size: 18px;
}

.dashed {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  height: 80px;
  width: 310px;
  border: 1px dashed #fff;
  border-radius: 16px;
  margin-bottom: 24px;

  p {
    margin: 0;
    cursor: pointer;
  }
}

.dashedIcon {
  font-size: 24px;
}

.loadingIcon {
  font-size: 100px;
  text-align: center;
  color: #fff;
  animation: spin-animation 0.8s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
